name: CI

on:
  push:
    branches:
      - '*'

env:
  PACKAGE_NAME: aws-iot-device-client

jobs:
  build-ubuntu-16-x64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubuntu-16-x64:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE
      - name: Archive ubuntu-16-x64 Build Artifact                                                                                                                                                        
        uses: actions/upload-artifact@v2                                                                                                                                                                      
        # Run for main branch only                                                                                                                                                                            
        if: github.ref == 'refs/heads/main'                                                                                                                                                                   
        with:                                                                                                                                                                                                 
          name: "DC.ubuntu.x64.${{ env.PACKAGE_NAME }}"                                                                                                                          
          path: |                                                                                                                                                                                             
            ./build/${{ env.PACKAGE_NAME }}
  
  build-rpi-armhf:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'  
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubuntu-16-x64:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE --compile-mode=rpi_cross_mode
      - name: Archive raspbian-armhf Build Artifact                                                                                                                                                        
        uses: actions/upload-artifact@v2                                                                                                                                                                      
        # Run for main branch only                                                                                                                                                                            
        if: github.ref == 'refs/heads/main'                                                                                                                                                                   
        with:                                                                                                                                                                                                 
          name: "DC.raspbian.armhf.${{ env.PACKAGE_NAME }}"                                                                                                                          
          path: |                                                                                                                                                                                             
            ./build/${{ env.PACKAGE_NAME }}

  build-st-rpi-armhf:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/st-rpi-build'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubuntu-16-x64:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE --compile-mode=st_rpi_cross_mode
      - name: Archive st-raspbian-armhf Build Artifact
        uses: actions/upload-artifact@v2
        # Run for main branch only
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/st-rpi-build'
        with:
          name: "ST.raspbian.armhf.${{ env.PACKAGE_NAME }}"
          path: |
            ./build/${{ env.PACKAGE_NAME }}

  build-amazonlinux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/amazonlinux:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE
  
  build-rhel-ubi8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubi8:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE
      - name: Archive rhel-ubi8 Build Artifact                                                                                                                                                        
        uses: actions/upload-artifact@v2                                                                                                                                                                      
        # Run for main branch only                                                                                                                                                                            
        if: github.ref == 'refs/heads/main'                                                                                                                                                                   
        with:                                                                                                                                                                                                 
          name: "DC.rhel.x64.${{ env.PACKAGE_NAME }}"                                                                                                                          
          path: |                                                                                                                                                                                             
            ./build/${{ env.PACKAGE_NAME }}

  gpp-compat:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 5,6,7,8 ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubuntu-16-x64:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE --compiler=g++-${{ matrix.version }}

  clangpp-compat:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ 5.0, 6.0, 7, 8, 9 ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }}
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubuntu-16-x64:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE --compiler=clang-${{ matrix.version }}

  st-component-build-ubuntu-16-x64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build ${{ env.PACKAGE_NAME }} ST Component Mode
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u awslabs --password-stdin
          export DOCKER_IMAGE=docker.pkg.github.com/awslabs/aws-iot-device-client/ubuntu-16-x64:latest
          docker pull $DOCKER_IMAGE
          docker run --mount type=bind,source=$(pwd),target=/root/${{ env.PACKAGE_NAME }} --env GITHUB_REF $DOCKER_IMAGE --compile-mode=st_component_mode
      - name: Archive ST Component Mode Build Artifact
        uses: actions/upload-artifact@v2
        # Run for main branch only
        if: github.ref == 'refs/heads/main'
        with:
          name: "ST.ubuntu.x64.${{ env.PACKAGE_NAME }}"
          path: |
            ./build/${{ env.PACKAGE_NAME }}