name: E2E CI

# This workflow will build and publish Device Client Docker images to the pre-release repository upon merge to pre-release branch

on:
  push:
    branches: '*'
  pull_request_target:
    branches: '*'

env:
  PACKAGE_NAME: aws-iot-device-client
  IMAGE_NAME: aws-iot-device-client
  ECR_BASE_REPO: aws-iot-device-client/aws-iot-device-client-base-images
  ECR_PRE_RELEASE_REPO: aws-iot-device-client/pre-release
  ECR_REPO: aws-iot-device-client/aws-iot-device-client
  ECR_TEST_RUNNER_REPO: aws-iot-device-client/integration-tests

jobs:
  # This job builds the Device Client Docker image using the ubuntu base image in the ECR repository
  # It then runs the Device Client to output the version to be used in the subsequent jobs.
  versioning:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Working Directory
        run: pwd
      - name: List
        run: ls
      - name: User
        run: whoami
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Device Client
        id: build-device-client
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/Dockerfile
          context: .
          no-cache: true
          build-args: |
            OS=ubuntu:18.04
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:amd64-ubuntu-latest
          push: false
      - name: Get Version
        id: get-version
        run: |
          version=$(docker run ${{ steps.build-device-client.outputs.imageid }} --version)
          echo "::set-output name=version::$version"
  build-docker-image-ubuntu:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [versioning]
    strategy:
      matrix:
        architecture: [amd64, arm64]
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Device Client Test Image
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/Dockerfile
          context: .
          build-args: |
            OS=ubuntu:18.04
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:${{matrix.architecture}}-ubuntu-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-ubuntu-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-ubuntu-latest
          platforms: linux/${{matrix.architecture}}
  build-docker-image-ubuntu-armv7:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [versioning]
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          images: public.ecr.aws/${{ env.ECR_REPO }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Device Client Test Image
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/Dockerfile
          context: .
          build-args: |
            OS=ubuntu:18.04
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:armv7-ubuntu-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:armv7-ubuntu-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:armv7-ubuntu-latest
          platforms: linux/arm/v7
  build-docker-image-amazonlinux:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [versioning]
    strategy:
      matrix:
        architecture: [ amd64, arm64 ]
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Device Client Test Image
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/Dockerfile
          context: .
          build-args: |
            OS=amazonlinux:latest
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:${{matrix.architecture}}-amazonlinux-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-amazonlinux-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-amazonlinux-latest
          platforms: linux/${{matrix.architecture}}
  build-docker-image-ubi8:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [versioning]
    strategy:
      matrix:
        architecture: [ amd64, arm64 ]
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Device Client Test Image
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/Dockerfile
          context: .
          build-args: |
            OS=registry.access.redhat.com/ubi8/ubi
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:${{matrix.architecture}}-ubi8-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-ubi8-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-ubi8-latest
          platforms: linux/${{matrix.architecture}}
  e2e-tests-ubuntu:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [ versioning, build-docker-image-ubuntu ]
    strategy:
      fail-fast: false
      matrix:
        architecture: [ amd64 ] # arm64 left out for now as local proxy builds take too long. Re-enable if binary or image becomes available
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Build Integration Test Runner
        id: build-test-runner
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/integration-tests/ubuntu/Dockerfile
          context: .
          build-args: |
            OS=ubuntu:18.04
            PRE_RELEASE_IMAGE=public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-ubuntu-${{ needs.versioning.outputs.version }}
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:${{matrix.architecture}}-ubuntu-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:${{matrix.architecture}}-ubuntu-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:${{matrix.architecture}}-ubuntu-latest
          platforms: linux/${{matrix.architecture}}
      - name: Run Tests
        env:
          IOT_ENDPOINT: ${{ secrets.IOT_ENDPOINT }}
          CERTIFICATE: ${{ secrets.CLAIM_CERTIFICATE }}
          DEVICE_KEY_SECRET: ${{ secrets.FP_DEVICE_KEY_SECRET }}
          AMAZON_ROOT_CA: ${{ secrets.AMAZON_ROOT_CA }}
        run: |
          docker run -e AWS_ACCESS_KEY_ID="$(echo ${{ secrets.INTEG_USER_KEY_ID }})" -e AWS_SECRET_ACCESS_KEY="$(echo ${{ secrets.INTEG_USER_KEY_SECRET }})" -e IOT_ENDPOINT="$(echo $IOT_ENDPOINT)" -e CERTIFICATE="$(echo $CERTIFICATE)" -e DEVICE_KEY_SECRET="$(echo $DEVICE_KEY_SECRET)" -e AMAZON_ROOT_CA="$(echo $AMAZON_ROOT_CA)" -e THING_NAME=fleetprovisioning ${{ steps.build-test-runner.outputs.imageid }} --clean-up
  e2e-tests-ubuntu-armv7:
    runs-on: ubuntu-latest
    if: ${{ false }} # Disabled for now as local proxy builds take too long. Re-enable if binary or image becomes available.
    needs: [ versioning, build-docker-image-ubuntu-armv7 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Build Integration Test Runner
        id: build-test-runner
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/integration-tests/ubuntu/Dockerfile
          context: .
          build-args: |
            OS=ubuntu:18.04
            PRE_RELEASE_IMAGE=public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:armv7-ubuntu-${{ needs.versioning.outputs.version }}
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:armv7-ubuntu-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:armv7-ubuntu-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:armv7-ubuntu-latest
          platforms: linux/arm/v7
      - name: Run Tests
        env:
          IOT_ENDPOINT: ${{ secrets.IOT_ENDPOINT }}
          CERTIFICATE: ${{ secrets.CLAIM_CERTIFICATE }}
          DEVICE_KEY_SECRET: ${{ secrets.FP_DEVICE_KEY_SECRET }}
          AMAZON_ROOT_CA: ${{ secrets.AMAZON_ROOT_CA }}
        run: |
          docker run -e AWS_ACCESS_KEY_ID="$(echo ${{ secrets.INTEG_USER_KEY_ID }})" -e AWS_SECRET_ACCESS_KEY="$(echo ${{ secrets.INTEG_USER_KEY_SECRET }})" -e IOT_ENDPOINT="$(echo $IOT_ENDPOINT)" -e CERTIFICATE="$(echo $CERTIFICATE)" -e DEVICE_KEY_SECRET="$(echo $DEVICE_KEY_SECRET)" -e AMAZON_ROOT_CA="$(echo $AMAZON_ROOT_CA)" -e THING_NAME=fleetprovisioning ${{ steps.build-test-runner.outputs.imageid }} --clean-up
  e2e-tests-amazonlinux:
    # The amazonlinux integration tests do not run the secure tunneling integration tests. TODO:// Need to configure SSH in centOS integration test image
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [ versioning, build-docker-image-amazonlinux ]
    strategy:
      fail-fast: false
      matrix:
        architecture: [ amd64, arm64 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Build Integration Test Runner
        id: build-test-runner
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/integration-tests/centOS/Dockerfile
          context: .
          build-args: |
            OS=amazonlinux:latest
            PRE_RELEASE_IMAGE=public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-amazonlinux-${{ needs.versioning.outputs.version }}
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:${{matrix.architecture}}-amazonlinux-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:${{matrix.architecture}}-amazonlinux-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:${{matrix.architecture}}-amazonlinux-latest
          platforms: linux/${{matrix.architecture}}
      - name: Run Tests
        env:
          IOT_ENDPOINT: ${{ secrets.IOT_ENDPOINT }}
          CERTIFICATE: ${{ secrets.CLAIM_CERTIFICATE }}
          DEVICE_KEY_SECRET: ${{ secrets.FP_DEVICE_KEY_SECRET }}
          AMAZON_ROOT_CA: ${{ secrets.AMAZON_ROOT_CA }}
        run: |
          docker run -e AWS_ACCESS_KEY_ID="$(echo ${{ secrets.INTEG_USER_KEY_ID }})" -e AWS_SECRET_ACCESS_KEY="$(echo ${{ secrets.INTEG_USER_KEY_SECRET }})" -e IOT_ENDPOINT="$(echo $IOT_ENDPOINT)" -e CERTIFICATE="$(echo $CERTIFICATE)" -e DEVICE_KEY_SECRET="$(echo $DEVICE_KEY_SECRET)" -e AMAZON_ROOT_CA="$(echo $AMAZON_ROOT_CA)" -e THING_NAME=fleetprovisioning ${{ steps.build-test-runner.outputs.imageid }} --skip-st --clean-up
  e2e-tests-ubi8:
    # The ubi8 integration tests do not run the secure tunneling integration tests. TODO:// Need to configure SSH in centOS integration test image
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request_target') && (github.event.pull_request.head.repo.full_name != github.repository))
    needs: [ versioning, build-docker-image-ubi8 ]
    strategy:
      fail-fast: false
      matrix:
        architecture: [ amd64, arm64 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ECR_USER_AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.ECR_USER_AWS_KEY_SECRET }}
          aws-region: us-east-1
      - name: Login to ECR
        run: aws ecr-public get-login-password --region us-east-1 | docker login --username AWS --password-stdin public.ecr.aws
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Build Integration Test Runner
        id: build-test-runner
        uses: docker/build-push-action@v3
        with:
          file: .github/docker-images/integration-tests/centOS/Dockerfile
          context: .
          build-args: |
            OS=registry.access.redhat.com/ubi8/ubi
            PRE_RELEASE_IMAGE=public.ecr.aws/${{ env.ECR_PRE_RELEASE_REPO }}:${{matrix.architecture}}-ubi8-${{ needs.versioning.outputs.version }}
            BASE_IMAGE=public.ecr.aws/${{ env.ECR_BASE_REPO }}:${{matrix.architecture}}-ubi8-latest
          push: true
          tags: |
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:${{matrix.architecture}}-ubi8-${{ needs.versioning.outputs.version }}
            public.ecr.aws/${{ env.ECR_TEST_RUNNER_REPO }}:${{matrix.architecture}}-ubi8-latest
          platforms: linux/${{matrix.architecture}}
      - name: Run Tests
        env:
          IOT_ENDPOINT: ${{ secrets.IOT_ENDPOINT }}
          CERTIFICATE: ${{ secrets.CLAIM_CERTIFICATE }}
          DEVICE_KEY_SECRET: ${{ secrets.FP_DEVICE_KEY_SECRET }}
          AMAZON_ROOT_CA: ${{ secrets.AMAZON_ROOT_CA }}
        run: |
          docker run -e AWS_ACCESS_KEY_ID="$(echo ${{ secrets.INTEG_USER_KEY_ID }})" -e AWS_SECRET_ACCESS_KEY="$(echo ${{ secrets.INTEG_USER_KEY_SECRET }})" -e IOT_ENDPOINT="$(echo $IOT_ENDPOINT)" -e CERTIFICATE="$(echo $CERTIFICATE)" -e DEVICE_KEY_SECRET="$(echo $DEVICE_KEY_SECRET)" -e AMAZON_ROOT_CA="$(echo $AMAZON_ROOT_CA)" -e THING_NAME=fleetprovisioning ${{ steps.build-test-runner.outputs.imageid }} --skip-st --clean-up
