name: Lint

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  clang-format:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request') && (github.event.pull_request.head.repo.full_name != github.repository))
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v1

    - name: clang-format lint
      uses: DoozyX/clang-format-lint-action@v0.3.1
      with:
        # List of extensions to check
        extensions: cpp,h

  cppcheck:
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || ((github.event_name == 'pull_request') && (github.event.pull_request.head.repo.full_name != github.repository))
    steps:
    - name: Checkout Sources
      uses: actions/checkout@v1

    - name: cppcheck script
      run: run-cppcheck.sh
      shell: bash
